* {
    font-family: "Poppins", sans-serif;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

#advancedbutton {
    background-color: black;
    border: none;
    color: white;
    font-size : 20px;
}

#advancedbutton:hover {
    background-color: white;
    color: black;
}

#advanced-form {
    display: none;
    margin-top: 10px;
}

button {
    background-color: transparent;
    border: 8px solid #0077b6;
    border-radius: 40px;
    font-size : 25px;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
    transition-duration: 0.5s;
    width: fit-content;
}

button:hover {
    background-color: #0077b6;
}

.category-text {
    background-color:#FFFF00;
    color: black;
    font-weight: 2em;
}

.description {
    font-size: 25px;
    font-style: italic;
    padding-bottom: 20px;
    padding-left: 30px;
    text-align: left;
}

#description-column {
    vertical-align: middle;
    width: 50%;
}

.error {
    color: black;
    font-size: 40px;
    font-style: bold;
    margin-top: 20%;
    text-align: center;
}

#footerbutton {
    float: left;
    margin-left: 20%;
    margin-right: 10px;
}

#footerbutton:hover {
    color: white;
}

#footer-row {
    margin-top: 50px;
    text-align: center;
}

.header-image {
    height: 200px;
    object-fit: cover;
    position: relative;
    text-align: center;
    width: 100%;
}

.header-image img {
    height: 100%;
    width: 100%;
}

.header-text {
    color: white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#homebutton {
    color: white;
}

.home-content {
    color: white;
    font-size: 50px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    position: relative; 
    text-align: center;
    z-index: 1;
}

#home-video {
    filter: blur(8px);
    -o-filter: blur(8px);
    height: 100vh;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    transform: scale(1.04);
    width: 100vw;
    z-index:0;
}

hr {
    margin-top: 50px;
}

#image-column {
    vertical-align: top;
    width: 50%;
}

.result {
    color: black;
    justify-content: center;
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    z-index: 1;
}

#result-image {
    max-height: 300px;
    max-width: 440px;
}

select {
    border:5px solid black;
    border-radius:10px;
    height: 3.5em;
    line-height: 3.5em;
    width: 300px;
}

#standardbutton {
    color: black;
    margin-bottom: 20px;
}

#standardbutton:hover {
    color: white;
}

.title {
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#title-row {
    padding-bottom: 50px;
}
