* {
    font-family: "Poppins", sans-serif;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

button {
    background-color: transparent;
    border: 8px solid #0077b6;
    border-radius: 40px;
    font-size : 25px;
    font-weight: bold;
    position: relative;
    transition-duration: 0.5s;
    width: fit-content;
    padding: 10px 20px;
}

button:hover {
    background-color: #0077b6;
}

#standardbutton:hover {
    color: white;
}

#footer-button:hover {
    color: white;
}

#advancedbutton:hover {
    color: black;
    background-color: white;
}

#homebutton {
    color: white;
}

#standardbutton {
    color: black;
    margin-bottom: 20px;
}

#advancedbutton {
    font-size : 20px;
    color: white;
    background-color: black;
    border: none;
}

.home-content {
    color: white;
    font-size: 50px;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    justify-content: center;
    z-index: 1;
}

#home-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index:0;
    top: 0;
    left: 0;
    -o-filter: blur(8px);
    filter: blur(8px);
    transform: scale(1.04);
}

.result {
    color: black;
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    justify-content: center;
    z-index: 1;
}

#result-image {
    max-height: 300px;
    max-width: 440px;
}

.title {
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.description {
    font-size: 25px;
    font-style: italic;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 20px;
}

.error {
    margin-top: 20%;
    color: black;
    font-size: 40px;
    font-style: bold;
    text-align: center;
}

#title-row {
    padding-bottom: 50px;
}

#image-column {
    width: 50%;
    vertical-align: top;
}

#description-column {
    width: 50%;
    vertical-align: middle;
}

.header-image {
    text-align: center;
    position: relative;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.header-image img {
    height: 100%;
    width: 100%;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#footer-row {
    text-align: center;
}

#footer-button {
    float: right;
    margin-left: 28%;
    margin-right: 5%;
}

#advanced-form {
    margin-top: 10px;
    display: none;
}

select {
    border-radius:10px;
    border:5px solid black;
    width: 300px;
    height: 3.5em;
    line-height: 3.5em;
}

hr {
    margin-top: 50px;
}
