{% extends "layout.html" %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

<div class="home-content">
    <h1>Welcome to the Random Interesting Things Generator!</h1>
    <form action="/" method="post">
        <button type="submit" id = "homebutton">Find Something Interesting</button>
    </form>

    <button onclick="showsearch()" id = "advancedbutton">Show Advanced Search ⬇️</button>

    <form action="/" method="post" id = "advanced">
        <select name = "category" required>
            <option value="">Select Category</option>
            <option value="sports">Sports</option>
            <option value="art">Art</option>
            <option value="technology">Technology</option>
            <option value="business">Business</option>
            <option value="entertainment">Entertainment</option>
            <option value="science">Science</option>
            <option value="politics">Politics</option>
        </select>
        <button type="submit" id = "advancedbutton">Search</button>
    </form>
</div>

<video width=100% height=100% autoplay loop muted playsinline id="home-video">
    <source src="/static/background.mp4" type="video/mp4"/>
    Your browser does not video.
</video>

<script>
    function showsearch() {
        let x = document.getElementById('advanced');
        if (x.style.display == 'block') {
            x.style.display = 'none';
        } else {
            x.style.display = 'block';
        }
    }
</script>

{% endblock %}